*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    /* background-image:linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../images/bg2.avif); */
    background-position: center;
    background-size: cover;
    background-position: 80%;
    height: 109vh;
    }
    .content{
        padding-top: 190px;
        margin-left: 56px;
        }
        .content h3{
        font-size: 45px;
        color: white;
        }
        .content p{
        color: white;
        font-family: Arial;
        line-height: 15px;
        padding-left: 5px;
        letter-spacing: 1.2px;
        padding-bottom: 2px;
        }
        span{
            color: #ff7200;
        }
        .btn{
            width: 160px;
            height:30px;
            background: #ff7200;
            border: none;
            margin-bottom: 5px;
            margin-left: 10px;
            font-size: 20px;
            border-radius: 7px;
            cursor: pointer;
            transition: .4s ease;
            
        }
        .btn a{
            text-decoration: none;
            color: black;
            transition: .3s ease;
        }
        .btn:hover{
            background-color:white ;
            border: none;
            box-shadow: 3px 3px 0  2px black;
        }
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
            color: #333;
        }

        header {
            color: #330d00;
            font-size: 25px;
            text-align: center;
            margin-top: 5px;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            display: inline-block;           
        }
         .card {
            background-color: #fff;
            border-radius: 8px;
          
            margin: 10px;
            padding: 20px;
            height: 370px;
            width: 300px; 
            display: inline-block;
            box-shadow:  1px 1px 2px 2px black;
                       
        }
        .card:hover{
            box-shadow: 1px 1px 2px 2px gray;
            transform: scale(1.06);
            transition: 0.3s;
          }
          

        .card h3 {
            color: #2c3e50;
            display: inline-block;
        }

        .card p {
            line-height: 1.6;
           margin-right: 5px;   
        }

        .icon {
            display: flex;
            color: #e74c3c;
            margin-right: 70px;
            
        }
        .img{
            height: 150px;
            width: 185px;
            margin: 10px;
            padding: 30px;
            border-radius: 3px;
            box-shadow:  1px 1px 1px 1px;
        }
        